<%= form_for @campaign, :html => { :class => "form-horizontal campaign" } do |f| %>

    <% if @campaign.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>



  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@campaign[:name]) %>
  </div>


      <div class="control-group">
        <label class="controls">Account</label><br>
            <select name="campaign[account_id]" class="form-control">
                <% Account.all.each do |account| %>
                    <option value=<%= account.id %>><%= account.name %> </option>
                <% end %>
            </select>
      </div>


      <div class="control-group">
        <label class="controls">Email Template</label><br>
            <select name="campaign[email_template_id]" class="form-control">
                <% EmailTemplate.all.each do |email_template| %>
                    <option value=<%= email_template.id %>><%= email_template.name %> </option>
                <% end %>
            </select>
      </div>

      <div class="control-group">
        <label class="controls">Email List</label><br>
            <select name="campaign[email_list_id]" class="form-control">
                <% EmailList.all.each do |email_list| %>
                    <option value=<%= email_list.id %>><%= email_list.name %> </option>
                <% end %>
            </select>
      </div>



  <div class="control-group">
    <%= f.label :email_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_limit, :class => 'form-control' %>
    </div>
    <%= error_span(@campaign[:email_limit]) %>
  </div>
  <div class="control-group">
    <%= f.label :email_used, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_used, :class => 'form-control' %>
    </div>
    <%= error_span(@campaign[:email_used]) %>
  </div>


 <div class="control-group">
    <label class="control-label" for="campaign_email_used">Date/Time</label>
    <div class='input-group date' id='datetimepicker1'>
     <%= f.text_field :runtime , 'type' => 'text' , 'class' => "form-control" ,'data-date-format' => "YYYY-MM-DD HH:mm:00" %>
     <span class="input-group-addon">
         <span class="glyphicon glyphicon-calendar"></span>
     </span>
    </div>
 </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>


  <br>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            campaigns_path, :class => 'btn btn-default' %>

<% end %>
